.links:hover
{
    background: #ECEFEF ;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}
.links:hover > h1
{
    color:#00A762;
}
.links:hover > .ICONS
{
    color:#00A762;
}
.links1
{
    background: #ECEFEF ;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}
.links1 > h1
{
    color:#00A762;
}
.links1 > .ICONS
{
    color:#00A762;
}