.bodyHeader
{
    height: 100vh;
    background: #ECEFEF;
    position: relative;
}
.ParentHeader
{
    display: grid;
    height: 100vh;
    place-content: center;
}
.image1
{
    position: absolute;
    top:0;left: 0;
}
.image2
{
    position: absolute;
   bottom:0;right: 0;
}

.Connect
{
    background: #24D26D;
    color:#131313;
    box-shadow: 0px 0px 10px #A7F790;
}
.colonne div
{
    background: rgba(255, 255, 255, 0.932);
}
.colonne div h2{
    color: #24D26D;
    font-size: 25px;
}
.mois 
{
    color: #BFC1BF;
}
.HeaderObj
{
    color:#24D26D;
}
.Condition{
    background: #35442E;
    color:#A7F790;
}
.footer
{
    background: #48773B;
}
button
{
    transition: 3s;
}
button:active
{
    transform: scale(0.3);
}