.histo
{
    overflow: hidden; 
    overflow-y: scroll; 
    max-height: 20rem; 
    background: #EEEFED;
}
.histo::-webkit-scrollbar {
    width: 5px; 
    /* largeur de la barre de défilement */
  }
  
.histo::-webkit-scrollbar-thumb {
    background: gray; /* couleur de la poignée de défilement */
    border-radius: 5px;
    height: 20px; /* bord arrondi de la poignée de défilement */
  }
  
.histo::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;/* couleur de fond de la barre de défilement */
  }