.SignInBody
{
    height: 100vh;
    background: #131313;
    display: grid;
    place-content: center;
}
.SingInParent
{
    background: #282828;
    position: relative;
}
.close
{
    position: absolute;
    top: 20px;
    right: 0;
}
.SignIntitre
{
    background: linear-gradient(to left,#A7F790,rgb(206, 187, 187),rgb(206, 187, 187),#74f13a);
    -webkit-background-clip: text;
    color:transparent;
    mask-image: linear-gradient(to left,#A7F790,white,gray,#35442E,#74f13a);
}
.Input
{
    color:violet;
}
.btnSingIn
{
    background: #35442E;
    color:#A7F790;
}
button
{
    transition: 3s;
}
button:active
{
    transform: scale(0.3);
}