.SignInBody
{
    height: 100vh;
    background: #ECEFEF;
    display: grid;
    place-content: center;
}
.SingInParent
{
    background: #ffffffff;
    position: relative;
}
.close
{
    position: absolute;
    top: 20px;
    right: 0;
}
.SignIntitre
{
    background: linear-gradient(to left,#24D26D,black,#24D26D);
    -webkit-background-clip: text;
    color:transparent;
    mask-image: linear-gradient(to left,#24D26D,black,#24D26D);
}

button
{
    transition: 3s;
}
button:active
{
    transform: scale(0.3);
}